.d_top{   
	height: 100px;
}
.d_centered{  /*居中 */
	width: 1226px;
	margin: 0 auto;
}
.d_top_tu{   /* 小米商城图片 */
	float: left;
}


.d_medio{
	height: 550px;
	background-image: url(../img/bg.jpg);
	background-position:center;
}
.d_register{   /*登陆表单界面 */
	float: right;
	background-color: #fff;
	width: 410px;
}

.d_bottom_1{   /* 账号登陆 */
	height: 83px;
	line-height: 83px;
	text-align: center;
}
.d_bottom_1 a {
	font-size: 24px;
	color: #f56600;
}
.d_bottom_1 span{
	color: #fff;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
}

.d_bottom_2{
	text-align: center;
}

.d_bottom_2 input{
	width: 346px;
	height: 48px;
	height: 22px  ;
	line-height: 22px;
	padding: 13px 16px 13px 14px;
}

.d_bottom_3{  /* 表单间隔 */
	margin-top: 20px;
}

.d_bottom_4{
	width: 346px;
	height: 48px;
	margin: 13px 35px ;
}





/*底部*/
.d_bottom{   
	height: 180px;
}
.d_bottom_text{
	margin-top: 100px;
}
.d_bottom_text ul{
	margin: 0px;
	margin: 0px;
	text-align: center;
}
.d_bottom_text ul li{
	display: block;
	float:  left;
	color: #757575;
	font-size: 14px;
	padding: 0px 10px;
}
